<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<div>

<ion-button color="light">Primary</ion-button>
<ion-button color="light">Secondary</ion-button>

</div>


<ion-content>
  <div >
    <ion-img src="/assets/background_image.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Shopping</ion-card-subtitle>
      <ion-card-title>HAPPY SHOPPING !!!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Shop whatever you want here with the best price garented.</p>
    </ion-card-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
