<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Add List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen *ngIf="newItem">
    <form [formGroup]="newItem" (ngSubmit)="addNewItem()">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <div class="d-flex justify-content-center m-2 w-100">
            <app-file-upload (emitImage)="getUploadedImage($event);"></app-file-upload>
          </div>
        </ion-item>

        <ion-item>
          <ion-label for="itemName" position="stacked">Item Name
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="itemName" type="text" [ngClass]="{ 'ion-invalid': submitted && input.itemName.errors }"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label for="quality"> Quality
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select interface="popover" formControlName="quality">
            <ion-select-option value="liters">liters</ion-select-option>
            <ion-select-option value="kg">kg</ion-select-option>
            <ion-select-option value="count">count</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label for="rate" position="stacked">Rate
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required [placeholder]="newItem.value.quality" formControlName="rate" type="text" [ngClass]="{ 'ion-invalid': submitted && input.rate.errors }"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label for="itemAvalible">Item avalible
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-toggle slot="start" color="Blueberry" unchecked formControlName="itemAvalible"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" for="notes">Additional Details</ion-label>
          <ion-textarea formControlName="notes"></ion-textarea>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">New Item</ion-button>
      </div>
    </form>
  </ion-content>
</ion-app>