<ion-content class="mobile-background--color">
  <div>
    <ion-img src="/assets/background_image.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title class="text-white">Talk To Me</ion-card-title>
      <ion-card-subtitle class="text-white">Talking without judgement</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="text-white">
      <p>Should be a Talk (phone) functionality as well as a Text functionality
        Should be a log in/share bar for social media
        Also on the log in you should be able to see who all is available so you can select and talk to. This is not a dating profile. There are no pictures.</p>
    </ion-card-content>
  </div>


</ion-content>

<ion-footer class="position-static">
  <ion-toolbar class="mobile-background--color">
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>