<ion-content fullscreen class="mobile-background--color">
      <div>
            <ion-img src="/assets/talk-to-me.png" style="height: 200px;"></ion-img>
            <ion-card-header>
                  <ion-card-title class="text-white">Talking without </ion-card-title>
                  <ion-card-title class="text-white">Fear of being Judged</ion-card-title>
            </ion-card-header>
      </div>

      <ion-col class="text-white">

            <section class="d-flex mt-5">
                  <ion-button type="submit" class="p-1" (click)="login()"> Log in </ion-button>
                  <ion-button type="submit" class="p-1" (click)="register()"> Sign up </ion-button>
            </section>

            <ion-row class="d-flex justify-content-around p-4">
                  <ion-col class="text-center">
                        <ion-icon class="text-white ion-icon " name="logo-facebook"></ion-icon>

                  </ion-col>
                  <ion-col class="text-center">
                        <ion-icon class="text-white ion-icon " name="logo-instagram"></ion-icon>

                  </ion-col>
                  <ion-col class="text-center">
                        <ion-icon class="text-white ion-icon " name="logo-twitter"></ion-icon>

                  </ion-col>
                  <ion-col class="text-center">
                        <ion-icon class="text-white ion-icon " name="logo-snapchat"></ion-icon>

                  </ion-col>
            </ion-row>

            <ion-row class="d-flex justify-content-center">
                  <ion-button type="submit" class="p-1" [routerLink]="['/fqa']"> FQA </ion-button>
            </ion-row>

      </ion-col>
</ion-content>