<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">Close</ion-button>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <mat-card>
    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="number">Number
          <sup class="text-danger">*</sup>
        </label>
        <input type="number" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && input.number.errors }"
        />
        <div *ngIf="submitted && input.number.errors" class="invalid-feedback">
          <div *ngIf="input.number.errors.required">Number is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New password
          <sup class="text-danger">*</sup>
        </label>
        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && input.newPassword.errors }"
        />
        <div *ngIf="submitted && input.newPassword.errors" class="invalid-feedback">
          <div *ngIf="input.newPassword.errors.required">New password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="verifyPassword">Verify password
          <sup class="text-danger">*</sup>
        </label>
        <input type="password" formControlName="verifyPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && input.verifyPassword.errors }"
        />
        <div *ngIf="submitted && input.verifyPassword.errors" class="invalid-feedback">
          <div *ngIf="input.verifyPassword.errors.required">Verify password is required</div>
        </div>
      </div>
      <div class="form-group">
        <ion-button type="submit" expand="full" color="primary">Submit</ion-button>
      </div>
    </form>
  </mat-card>
</ion-content>