<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="p-3">
    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="number">Number
          <sup class="text-danger">*</sup>
        </label>
        <input type="number" formControlName="number" (blur)="numberValidation()" class="form-control"
          (input)="numberValidation()" [ngClass]="{ 'is-invalid': number  }" />
        <div *ngIf="number" class="invalid-feedback">
          <div *ngIf="forgotPassword.get('number').value === null">Number is required</div>
          <div *ngIf="validNumber !== 'VALID'">Please enter min of 10 charaters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New password
          <sup class="text-danger">*</sup>
        </label>
        <input type="password" formControlName="newPassword" (blur)="newPassword = true" class="form-control"
          [ngClass]="{ 'is-invalid': newPassword && input.newPassword.errors }" />
        <div *ngIf="newPassword && input.newPassword.errors" class="invalid-feedback">
          <div *ngIf="forgotPassword.get('newPassword').hasError('required')">New password is required</div>
          <div *ngIf="forgotPassword.get('newPassword').hasError('minlength')">Please enter min of 8 charaters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="verifyPassword">Verify password
          <sup class="text-danger">*</sup>
        </label>
        <input type="password" formControlName="verifyPassword" (blur)="verifyPassword = true" class="form-control"
          [ngClass]="{ 'is-invalid': verifyPassword && input.verifyPassword.errors }" />
        <div *ngIf="verifyPassword && input.verifyPassword.errors" class="invalid-feedback">
          <div *ngIf="forgotPassword.get('verifyPassword').hasError('required')">Verify password is required</div>
          <div *ngIf="forgotPassword.get('verifyPassword').hasError('minlength')">Please enter min of 8 charaters</div>
          <div *ngIf="forgotPassword.get('verifyPassword').hasError('passwordMismatch')">Please enter same password
          </div>
        </div>
      </div>
      <div class="form-group">
        <ion-button type="submit" expand="full" color="primary">Update Password</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>