<ion-content class="mobile-backgroundShade--color">

  <div class="img--class">
    <ion-img src="/assets/shopping.png"></ion-img>
  </div>

  <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="p-4 pt-5">

    <div class="d-flex border-bottom">
      <ion-icon name="apps" class="text-white ion-icon"></ion-icon>
      <ion-input class="text-white" placeholder="Number" type="number" formControlName="number"
        (change)="numberValidation()"></ion-input>
    </div>

    <div class="d-flex border-bottom">
      <ion-icon name="lock" class="text-white ion-icon"></ion-icon>
      <ion-input class="text-white" type="password" placeholder="New password" formControlName="newPassword">
      </ion-input>
    </div>

    <div class="d-flex border-bottom">
      <ion-icon name="lock" class="text-white ion-icon"></ion-icon>
      <ion-input class="text-white" type="password" placeholder="Verify password" formControlName="verifyPassword"></ion-input>
    </div>

    <div class="form-group pt-2">
      <ion-button type="submit" expand="block" class="text-white m-4 p-1">Update Password</ion-button>
    </div>

  </form>

</ion-content>