<ion-header>
    <ion-toolbar>
        <ion-icon name="arrow-back" [routerLink]="['/landing']"></ion-icon>
        <ion-title>FQA</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="mobile-background--color ">
    <div class="p-2 text-white">
        <h2>
            What is Talk to me ?
        </h2>

        <h6>
            Ever feel the need to talk but feel like you have no one to talk ? Don't want to be judged by those close to
            you?
        </h6>
    </div>
    <div class="p-2 text-white">
        <h2>
            How to use ?
        </h2>

        <h6>
            Select a topic, select some one available talk over the phone or text. Phone #'s are hidden
        </h6>
    </div>
    <div class="p-2 text-white">
        <h2>
            Why no Pictures ?
        </h2>

        <h6>
            This isn't a dating website. This is to allow conversation without Judgement and we at talk to me, But its
            best if you can talk to anyone and not based on apperance.
        </h6>
    </div>
</ion-content>