<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegister()">Close</ion-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">User Name <sup class="text-danger">*</sup> </label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && input.username.errors }" />
        <div *ngIf="submitted && input.username.errors" class="invalid-feedback">
          <div *ngIf="input.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email ID <sup class="text-danger">*</sup></label>
        <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && input.email.errors }" />
        <div *ngIf="submitted && input.email.errors" class="invalid-feedback">
          <div *ngIf="input.email.errors.required">email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password <sup class="text-danger">*</sup></label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && input.password.errors }" />
        <div *ngIf="submitted && input.password.errors" class="invalid-feedback">
          <div *ngIf="input.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <ion-button type="submit" expand="full" color="danger">Register</ion-button>
      </div>

    </form>
  </mat-card>

  <ion-content>
    <p text-center>Already have a account?</p>
    <ion-button expand="full" color="primary" (click)="loginModal()">Login</ion-button>
  </ion-content>
  
</ion-content>