<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="mobile-background--color">

  <div class="img--class">
    <ion-img src="/assets/talk-to-me.png" style="height: 200px;"></ion-img>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4 pt-5">

    <div class="d-flex border-bottom">
      <ion-icon name="apps" class="text-white ion-icon"></ion-icon>
      <ion-input class="text-white p-2" placeholder="Number" type="number" formControlName="number"
        (change)="numberValidation()"></ion-input>
    </div>

    <div class="d-flex border-bottom">
      <ion-icon name="lock" class="text-white ion-icon"></ion-icon>
      <ion-input class="text-white p-2" type="password" placeholder="Password" formControlName="password"></ion-input>
    </div>

    <div class="form-group pt-2 ">
      <ion-button type="submit" expand="block" class="text-white m-4 p-1">Log in
      </ion-button>
    </div>

    <div class="form-group text-center" (click)="dismissLogin()">
      <a class="text-white" [routerLink]="['/forgot-password']">Forgot password?</a>
    </div>

  </form>

</ion-content>