<ion-header>
  <ion-toolbar>
    <ion-title>Topics</ion-title>
    <ion-icon slot="end" class="d-flex ion-icon p-2" name="power" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="mobile-background--color">
<!-- 
  <ion-card>
    <ion-item (click)="openGroupList()">
      <ion-label class="text-center">Open Group</ion-label>
    </ion-item>
  </ion-card> -->


  <ion-card *ngFor="let t of topics; let i = index">
    <ion-item (click)="openContactList(i)">
      <ion-label class="text-center">{{t.topic | uppercase }}</ion-label>
    </ion-item>
    <app-chat-orcall *ngIf="item == i"></app-chat-orcall>

  </ion-card>

</ion-content>